body {
  background-color: peru;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .country-detail {
    font-size: larger;
    background-color: antiquewhite;
    width: 40%;
    margin: 25px;
    padding: 10px;
  }
select {
  width: 30%;
  height: 10%;
  margin: 15px;
  padding: 5px;
  font-size: large;
}

button {
  width:10%;
}

hr {
  border-color: black;
  border-style: solid;
  border-width: 5px;
  font: bold;
}

h1 {
  margin-left: 20px;
}